body{
   background-color: bisque;
}

h1{
   font-size: xx-large;
   text-align: center;
   font-weight: 700;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color:blueviolet;
}
form{
   background-color: azure;
   border: 5px solid;
   width: 33%;
   border-radius: 22px;
   padding: 1%;
   margin: 10% auto;
   display: flex;
   flex-direction: column;
}
input{
   border: 2px solid;
   width: 80%;
   margin: auto;
}

label{
   margin-left: 10%;
}

input[type="submit"]{
   margin: 5% 10%;
   background-color: blueviolet;
   border: 0;
   height: 44px;
}