/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #070000; /* Light warm background */
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 100px; /* Set fixed height */
    
}

.Header img {
    height: 50px;
    width: auto;
    margin-right: 20px;
}

.Header .search-container {
    display: flex;
    align-items: center;
    background-color: black;
    border: 1px white;
}

.Header .input-focus-nav {
    width: 580px;
    height: 38px;
    margin-top: 1px;
    background-color: black;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Header .input-focus-nav::placeholder {
    color: white;
}

.Header .search-button {
    height: 40px;
    width: 116px;
    border-radius: 7px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-left: 0px;
}


.Header .search-icon {
    width: 18px;
    height: 16px;
    margin-right: 5px;
}

.Header .login-signup {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.Header .login-signup:hover {
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 600px) {
    .Header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        height: auto;
    }

    .Header .search-container {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .Header .input-focus-nav {
        width: 100%;
    }

    .Header .search-button {
        width: 100%;
    }
}
